@import "~bootstrap/scss/bootstrap";

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.form {
  width: 500px;
  background-color: #3357cc33;
  border-radius: 10px;
  padding: 50px;
  margin: 40px auto;
}

.table {
  & thead th {
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
  }

  & td {
    vertical-align: middle;
    text-align: center;
  }
}

.view {
  &-box {
    margin: 20px 0px 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & svg {
      color: green;
      width: 50px;
      height: 50px;
    }
  }
}

.nav-item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 89px;
  margin: 0 auto;
}

.edit {
  margin-right: 5px;
}
